RewriteEngine On

RewriteRule "index.html" "index.php"
RewriteRule "premier-series.html" "premier.php"
RewriteRule "titan-x-series.html" "titanx.php"
RewriteRule "tin-tuc.html" "news.php"
RewriteRule "chung-toi.html" "about.php"
RewriteRule "dai-ly.html" "agency.php"
RewriteRule "^(.*).html$" "post.php?url=$1"
RewriteRule "^tu-khoa/([0-9]+)/(.*)$" "tag.php?id=$1&keyword=$2"
RewriteRule "^tim-kiem/([0-9a-zA-Z]+).html$" "search.php?search_query=$1"

ErrorDocument 404 "/CoolNLite/error/error_404.php"
