#block-slider {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-gap: 24px;
    grid-template-rows: 1fr;
}
.container-slide{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width : 1024px) {
    .container-slide.titanx-slide .slider-container .slider,
    .container-slide.titanx-slide .slider-container .slider2 {
        height: 100%;
    }
}

.container-slide .slider-container {
    position: relative;
    margin: 0 auto;
    height: 100%;
}
.container-slide .slider-container .sizes-slider2{
    height: 100vh;
}
.container-slide .slider-container .sizes-slider3{
   height: 50vh;
}
.container-slide .slider-container .sizes-slider3 img{
    border-radius: 1em;
}
.container-slide .slider-container .slider,
.container-slide .slider-container .slider2 {
    display: none;
    width: 100%;
    animation-name: fade;
    animation-duration: 1.5s; 
}

.container-slide .slider-container .slider2 video{
    width: 100%;
    height: 100%;
}

@keyframes fade {
    form {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.container-slide .slider-container .slider img,
.container-slide .slider-container .slider2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.box-btn {
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-slide .slider-container .prev-button1,
.container-slide .slider-container .next-button1{
    width: 31px;
    height: 60px;
    border-radius: 4px 0 0 4px;
    font-size: 25px;
}
.container-slide .slider-container .prev-button2,
.container-slide .slider-container .next-button2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
}
.container-slide .slider-container .prev-button2{
    left: -20px;
}
.container-slide .slider-container .next-button2{
    right: -20px;
}
.container-slide .slider-container .prev-button,
.container-slide .slider-container .next-button {
    padding: 10px;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    color: var(--color-txt);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container-slide .slider-container .prev-button:hover,
.container-slide .slider-container .next-button:hover {
    color: var(--text-color);
    background: var(--color-blue);
}

.container-slide .slider-container .lines {
    position: absolute;
    display: flex;
    bottom: 20px;
    width: 100%;
    justify-content: center;
    z-index: 11;
}
.container-slide .slider-container .lines.fix-lines{
    bottom: -50px;
}
.container-slide .slider-container .lines.fix-lines .line2{
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    height: 10px;
}
.container-slide .slider-container .lines .line.active,
.container-slide .slider-container .lines .line2.active {
    background: var(--color-blue);
}

.container-slide .slider-container .lines .line,
.container-slide .slider-container .lines .line2 {
    width: 10%;
    height: 3px;
    margin: 0 1em;
    background: var(--text-color);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.container-slide .slider-container .lines .line:hover,
.container-slide .slider-container .lines .line2:hover {
    background: var(--color-blue);
}
@media only screen and (max-width : 599px){
    img.dk {
        display: none;
    }
}
@media only screen and (min-width : 600px){
    img.mb {
        display: none;
    }
}
@media only screen and (max-width : 480px){
    #block-slider.block-slider{
        height: 50vh;
      }
      .container-slide .slider-container div.sizes-slider2{
        height: 50vh;
      }
      .container-slide .slider-container .prev-button1,
      .container-slide .slider-container .next-button1{
        height: 40px;
        font-size: 20px;
      }
      .container-slide.about-slide{
          width: 100%;
      }
      .container-slide .slider-container .prev-button2,
       .container-slide .slider-container .next-button2{
        width: 30px;
        height: 30px;
        font-size: 1.6em;
      }
      .container-slide .slider-container .prev-button2{
          left: -10px;
      }
      .container-slide .slider-container .next-button2{
          right: -10px;
      }
}

/* FIX SLIDER INDEX */
#fix-slider-index .fix-next-prev{
    color: var(--text-color);
    font-size: 3em;
}
.block-slides-text{
    width: 100%;
    height: 100%;
    position: relative;
}
#fix-slider-index .fix-sizes-slider2{
    height: 600px;
}
div.block-slides-text div.block-bottom.slide-text{
    display: none;
}
div.block-slides-text div.block-bottom.slide-text .box-title{
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  div.block-slides-text div.block-bottom.slide-text .box-title .quick{
    -webkit-animation: fade-in1 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in1 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  @-webkit-keyframes fade-in1 {
    0% {
      opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in1 {
    0% {
      opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
.block-slides-text .prev-next{
    font-size: 4em;
    color: var(--text-color);
    position: absolute;
    cursor: pointer;
}
.block-slides-text .prev-button{
    left: 1em;
}
.block-slides-text .next-button{
    right: 1em;
}
.block-slides-text .lines-text{
    position: absolute;
    display: flex;
    bottom: 50px;
    width: 100%;
    justify-content: center;
    z-index: 11;
}
.block-slides-text .lines-text .line-txt{
    width: 10%;
    height: 10px;
    margin: 0 1em;
    background: var(--text-color);
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
}
.block-slides-text .lines-text .line-txt.active{
    background-color: var(--color-blue);
}
@media only screen and (max-width : 600px){
    #fix-slider-index .fix-sizes-slider2{
        height: 300px;
    }
    #fix-slider-index .container-slide{
        padding: 5vh 0;
    }
    .block-slides-text .next-button{
        right: 0;
    }
    .block-slides-text .prev-button{
        left: 0;
    }
    .block-bottom .main-list-menu .box-para-top img{
        margin-right: 0px;
    }
    .section-gird .gird-top .box-title{
        top: 5vh;
        font-size: 0.8em;
    }
    .block-slides-text .prev-next{
        font-size: 3em;
    }
    .block-slides-text .lines-text .line-txt{
        width: 30%;
        height: 5px;
    }
    .container-slide .slider-container .lines.fix-lines .line2{
        width: 30%;
        height: 5px;
    }
    #fix-slider-index .box-right-built{
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    #fix-size-future{
        max-height: 50vh;
    }
}
